@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body{
    font-family: "Mukta";
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 24px;
}
.links-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.links-container .link{
    font-size: 14px;
    padding: 4px 10px;
    color: black;
    font-weight: bold;
    border-radius: 24px;
    transition: 0.15s ease-out;
}
.links-container .link:hover {
    background-color: black;
    color: white;
}
.links-container i{
    padding: 0 12px;
}
.container-fullwidth{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1.5vw;
    padding: 15px 0;
}
.container-fullwidth .offers-container{
    width: 47.5vw;
    height: 47.5vw;
    position: relative;
    gap: 1.5vw;
}
.left-container{
    display: flex;
    flex-wrap: wrap;
}
.container-fullwidth .offer{
    width: 23vw;
    height: 23vw;
    background-color: #f4f4f4;
    border-radius: 24px;
}
.container-fullwidth .big-offer{
    position: relative;
    width: 47.5vw;
    height: 47.5vw;
    background-color: #f4f4f4;
    border-radius: 24px;
}
.container-mobile{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 5vw;
    padding: 15px 0;
}
.container-mobile .big-offer{
    position: relative;
    width: 85vw;
    height: 47.5vw;
    background-color: #f4f4f4;
    border-radius: 24px;
}
.container-mobile .offers-container{
    width: 85vw;
    height: 85vw;
    position: relative;
    gap: 5vw;
}
.container-mobile .offer{
    width: 40vw;
    height: 46vw;
    background-color: #f4f4f4;
    border-radius: 24px;
}
@media (min-width:0px)  { 
    .header.mobile{
        display: flex;
        padding: 16px 5%;
    }
    .header.fullwidth{
        display: none;
    }
    .container-fullwidth{
        display: none;
    }
    .container-mobile{
        display: flex;
    }
    
 }
@media(min-width:535px){
    .container-fullwidth{
        display: flex;
    }
    .container-mobile{
        display: none;
    }
 }
@media (min-width:1290px)  { 
    .header.mobile{
        display: none;
    }
    .header.fullwidth{
        display: flex;
    }
 }
